@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16pt;
    text-align: center;
    vertical-align: middle;
}

.container {
    width: 300px;
    margin: auto 0;
}

.count-btn-container {
    position: absolute;
    top: 55%;
    left: 33%;
    text-align: center;
}

.text {
    margin-top: 20px;
    margin-bottom: 50px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    background-color: #000;
    border: 0px solid #000;
    border-radius: 2px;
    color: #fff;
    font-size: 30px;
    width: 50px;
    padding: 2px 15px;
    margin: 5px;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.btn:focus {
    outline: 0;
}
